html[theme='dark'] {
    --color-primary: rgb(187, 134, 252);
    --color-primary-2: rgb(55, 0, 179);
    --color-secondary: rgb(3, 218, 198);
    --color-secondary-2: rgb(3, 218, 198);
    --color-background: rgb(18, 18, 18);
    --color-surface: rgb(18, 18, 18);
    --color-error: rgb(207, 102, 121);
    --color-on-primary: rgb(0, 0, 0);
    --color-on-secondary: rgb(0, 0, 0);
    --color-on-background: rgb(255, 255, 255);
    --color-on-surface: rgb(255, 255, 255);
    --color-on-error: rgb(0, 0, 0);
    --background-color: rgb(27, 83, 157);
}