html[theme='light'] {
    --color-primary: rgb(98, 0, 238);
    --color-primary-2: rgb(55, 0, 179);
    --color-secondary: rgb(3, 218, 198);
    --color-secondary-2: rgb(1, 135, 134);
    --color-background: rgb(255, 255, 255);
    --color-surface: rgb(255, 255, 255);
    --color-error: rgb(176, 0, 32);
    --color-on-primary: rgb(255, 255, 255);
    --color-on-secondary: rgb(0, 0, 0);
    --color-on-background: rgb(0, 0, 0);
    --color-on-surface: rgb(0, 0, 0);
    --color-on-error: rgb(255, 255, 255);
    --background-color: rgb(27, 83, 157);
}