/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#contents{
    padding: 0px 10px 0px 310px;
}
#brand-name{
    padding-left: 310px;
    display: none;
}
#education{
    font-size: 30px;
    margin-top: 32px;
}
.about-degree{
    color: #AED9E0;
}
.bg-img{
    width: 100%;
    height: 100%;
}
a.contact-link{
    color: #000;
}
.degree-desc{
    height: auto;
}
.col-container{
    display: flex;
    margin-bottom: 2px;
    margin-top: -20px;
}
.degree-container{
    height: auto;
    background: #223843;
    color: #fff;
    padding: 20px !important;
}
.institution{
    font-size: 16px;
    color: rgb(192, 182, 182);
    font-family: 'Times New Roman', Times, serif;
}
.degree-name{
    font-size: 18px;
    font-weight: bold;
}
.degree-desc-center{
    margin: auto;
}
.degree-sm{
    margin: 6px;
}
@media only screen and (max-width : 992px) {
    .col-container{
        display: block;
    }
    #brand-name, #contents{
        padding-left: 10px;
    }
    #brand-name{
        padding-left: 0px;
        display: block;
    }
    .degree-desc, .degree-container{
        width: 100%;
        height: auto;
        overflow-wrap: break-word;
    }
    .degree-desc{
        height: 120px;
        padding: 10px;
        margin-bottom: 0;
    }
    .degree-container{
        margin-top: 0px;
    }
}
@media only screen and (min-width : 601px) and (max-width: 991px){
    .degree-desc{
        height: auto;
    }
    .col-container{
        display: flex;
        margin-bottom: 18px;
        margin-top: -20px;
    }
    .degree-container{
        height: auto;
        background: #223843;
        color: #fff;
        margin-top: 7px;
        margin-bottom: 0;
        padding: 20px !important;
    }
}