* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  font-size: 16px; }

html[theme="dark"] {
  --background-1: rgb(49, 49, 49);
  --background-2: rgb(29, 29, 29);
  --foreground-1: rgb(205, 205, 205);
  --foreground-2: rgb(225, 225, 225);
  --background-1-val: 49, 49, 49;
  --background-2-val: 29, 29, 29;
  --foreground-1-val: 205, 205, 205;
  --foreground-2-val: 225, 225, 225;
  transition: 1s ease; }

html[theme="light"] {
  --background-1: rgb(205, 205, 205);
  --background-2: rgb(225, 225, 225);
  --foreground-1: rgb(49, 49, 49);
  --foreground-2: rgb(29, 29, 29);
  --background-1-val: 205, 205, 205;
  --background-2-val: 225, 225, 225;
  --foreground-1-val: 49, 49, 49;
  --foreground-2-val: 29, 29, 29;
  transition: 1s ease; }

body {
  max-width: 100vw;
  background: var(--background-1);
  font-size: 14px; }
  body * {
    color: var(--foreground-1);
    font-family: 'JetBrains Mono', monospace; }
  body section:nth-child(even) {
    background: var(--background-2); }
  body::-webkit-scrollbar {
    width: 0.8em; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    background-color: #494949;
    outline: 1px solid #464646; }

section, div {
  display: block; }

button {
  cursor: pointer; }

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--background-2); }
  main #date-time {
    position: absolute;
    top: 5vh;
    left: 5vw;
    right: 5vw; }

address {
  font-style: normal; }

a.link:hover {
  color: #3d7fc5;
  font-weight: bold;
  transition: 1s ease; }

.cover--100-pc {
  width: 100%; }

.cover--vw {
  width: 100vw; }

.cover--vh {
  height: 100vh; }

.cover--vh-min {
  min-height: 100vh; }

.p-px--50 {
  padding: 50px; }

.p-t-px--50 {
  padding-top: 50px; }

.p-b-px--50 {
  padding-bottom: 50px; }

.pos--relative {
  position: relative; }

.pos--absolute {
  position: absolute; }

.pos--fixed {
  position: fixed; }

.pos--static {
  position: static; }

.pos--sticky {
  position: sticky; }

.d--flex {
  display: flex; }
  .d--flex.align-items--center {
    align-items: center; }
  .d--flex.justify-content--center {
    justify-content: center; }
  .d--flex.flex-direction--column {
    flex-direction: column; }

.d--grid {
  display: grid; }
  .d--grid.place-items--center {
    place-items: center; }

.text-container {
  padding: 20px; }

.text-align--center {
  text-align: center; }

.text-align--left {
  text-align: left; }

.text-align--right {
  text-align: right; }

.text-align--justify {
  text-align: justify; }

.divider {
  height: 2px;
  background: var(--foreground-1);
  margin: 1rem auto 2rem auto; }

.table {
  display: table; }
  .table.info {
    font-size: 1rem; }
    @media (min-width: 576px) {
      .table.info {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .table.info {
        font-size: 1.5rem; } }
    @media (min-width: 992px) {
      .table.info {
        font-size: 1.8rem; } }
    @media (min-width: 1200px) {
      .table.info {
        font-size: 2vw; } }
    .table.info .table-row {
      display: table-row;
      line-height: 3rem;
      margin-top: 4rem; }
      @media (max-width: 576px) {
        .table.info .table-row {
          display: block;
          line-height: 1.5rem;
          margin-top: 2rem; } }
      .table.info .table-row::after {
        display: block;
        content: ''; }
        @media (min-width: 576px) {
          .table.info .table-row::after {
            margin-top: 3.5rem; } }
        @media (min-width: 768px) {
          .table.info .table-row::after {
            margin-top: 4rem; } }
        @media (min-width: 992px) {
          .table.info .table-row::after {
            margin-top: 4.5rem; } }
        @media (min-width: 1200px) {
          .table.info .table-row::after {
            margin-top: 5rem; } }
    .table.info .table-col {
      display: table-cell;
      width: 100%; }
      @media (max-width: 576px) {
        .table.info .table-col {
          display: block; } }
      .table.info .table-col ul {
        list-style: none; }
        .table.info .table-col ul li {
          display: inline-block; }
          @media (min-width: 576px) {
            .table.info .table-col ul li {
              line-height: 4rem; } }
          .table.info .table-col ul li::after {
            content: ','; }
      .table.info .table-col:first-child::after {
        content: ':';
        padding-left: 10px;
        padding-right: 10px; }
  .table.education {
    font-size: 1.2rem; }
    @media (min-width: 576px) {
      .table.education {
        font-size: 1rem; } }
    @media (min-width: 768px) {
      .table.education {
        font-size: 1.2rem; } }
    @media (min-width: 992px) {
      .table.education {
        font-size: 1.5rem; } }
    @media (min-width: 1200px) {
      .table.education {
        font-size: 1.5vw; } }
    .table.education .table-row {
      display: table-row;
      line-height: 3rem;
      margin-top: 4rem;
      border-bottom: 0.3rem dotted; }
      @media (max-width: 576px) {
        .table.education .table-row {
          display: block;
          line-height: 2.5rem;
          margin-top: 2rem; } }
      .table.education .table-row::after {
        display: block;
        content: ''; }
        @media (min-width: 576px) {
          .table.education .table-row::after {
            margin-top: 3.5rem; } }
        @media (min-width: 768px) {
          .table.education .table-row::after {
            margin-top: 4rem; } }
        @media (min-width: 992px) {
          .table.education .table-row::after {
            margin-top: 4.5rem; } }
        @media (min-width: 1200px) {
          .table.education .table-row::after {
            margin-top: 5rem; } }
    .table.education .table-col {
      display: table-cell; }
      .table.education .table-col:first-child {
        width: 45%; }
      .table.education .table-col:last-child {
        padding-bottom: 1rem; }
      @media (max-width: 576px) {
        .table.education .table-col {
          display: block; }
          .table.education .table-col:first-child {
            width: 100%; } }
      .table.education .table-col ul {
        list-style: none; }
        .table.education .table-col ul li {
          display: inline-block; }
          @media (min-width: 576px) {
            .table.education .table-col ul li {
              line-height: 4rem; } }
          .table.education .table-col ul li::after {
            content: ','; }
  .table.employement {
    font-size: 1.2rem; }
    @media (min-width: 576px) {
      .table.employement {
        font-size: 1rem; } }
    @media (min-width: 768px) {
      .table.employement {
        font-size: 1.2rem; } }
    @media (min-width: 992px) {
      .table.employement {
        font-size: 1.5rem; } }
    @media (min-width: 1200px) {
      .table.employement {
        font-size: 1.5vw; } }
    .table.employement .table-row {
      display: table-row;
      line-height: 3rem;
      margin-top: 4rem;
      border-bottom: 0.3rem dotted; }
      @media (max-width: 576px) {
        .table.employement .table-row {
          display: block;
          line-height: 2.5rem;
          margin-top: 3rem; } }
      .table.employement .table-row::after {
        display: block;
        content: ''; }
        @media (min-width: 576px) {
          .table.employement .table-row::after {
            margin-top: 3.5rem; } }
        @media (min-width: 768px) {
          .table.employement .table-row::after {
            margin-top: 4rem; } }
        @media (min-width: 992px) {
          .table.employement .table-row::after {
            margin-top: 4.5rem; } }
        @media (min-width: 1200px) {
          .table.employement .table-row::after {
            margin-top: 5rem; } }
    .table.employement .table-col {
      display: table-cell; }
      .table.employement .table-col:first-child {
        width: 45%; }
      .table.employement .table-col:last-child {
        padding-bottom: 1rem; }
      @media (max-width: 576px) {
        .table.employement .table-col {
          display: block; }
          .table.employement .table-col:first-child {
            width: 100%; } }
      .table.employement .table-col ul {
        list-style: none; }
        .table.employement .table-col ul li {
          display: inline-block; }
          @media (min-width: 576px) {
            .table.employement .table-col ul li {
              line-height: 4rem; } }
          .table.employement .table-col ul li::after {
            content: ','; }

.education-year {
  font-size: 1.2rem; }
  @media (min-width: 576px) {
    .education-year {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .education-year {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .education-year {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .education-year {
      font-size: 1.2vw; } }

.education-degree {
  font-size: 2rem; }
  @media (min-width: 576px) {
    .education-degree {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .education-degree {
      font-size: 2rem; } }
  @media (min-width: 992px) {
    .education-degree {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .education-degree {
      font-size: 2vw; } }

.education-degree-heading {
  font-size: 1.5rem;
  font-weight: bold; }
  @media (max-width: 576px) {
    .education-degree-heading {
      margin-top: 1rem; } }
  @media (min-width: 576px) {
    .education-degree-heading {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    .education-degree-heading {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    .education-degree-heading {
      font-size: 1.5rem; } }
  @media (min-width: 1200px) {
    .education-degree-heading {
      font-size: 1.5vw; } }

@media (max-width: 576px) {
  .education-institute {
    margin-top: 1rem; } }

.education-institute a {
  font-size: 1.2rem;
  text-decoration: none; }
  @media (min-width: 576px) {
    .education-institute a {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .education-institute a {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .education-institute a {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .education-institute a {
      font-size: 1.2vw; } }

.education-text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem; }
  @media (max-width: 576px) {
    .education-text {
      margin-top: 1rem; } }
  @media (min-width: 576px) {
    .education-text {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .education-text {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .education-text {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .education-text {
      font-size: 1.2vw; } }

.education-grade {
  font-size: 1.2rem;
  margin-top: 1rem; }
  @media (min-width: 576px) {
    .education-grade {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .education-grade {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .education-grade {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .education-grade {
      font-size: 1.2vw; } }
  .education-grade .grade-value {
    font-weight: bold;
    font-size: 1.2em; }

.employement-year {
  font-size: 1.2rem; }
  @media (min-width: 576px) {
    .employement-year {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .employement-year {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .employement-year {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .employement-year {
      font-size: 1.2vw; } }

.employement-designation {
  font-size: 2rem; }
  @media (min-width: 576px) {
    .employement-designation {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .employement-designation {
      font-size: 2rem; } }
  @media (min-width: 992px) {
    .employement-designation {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .employement-designation {
      font-size: 2vw; } }

.employement-company {
  margin-top: 1rem; }
  .employement-company a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none; }
    @media (max-width: 576px) {
      .employement-company a {
        margin-top: 1.2rem; } }
    @media (min-width: 576px) {
      .employement-company a {
        font-size: 1.8rem; } }
    @media (min-width: 768px) {
      .employement-company a {
        font-size: 1.8rem; } }
    @media (min-width: 992px) {
      .employement-company a {
        font-size: 1.8rem; } }
    @media (min-width: 1200px) {
      .employement-company a {
        font-size: 1.8vw; } }

@media (max-width: 576px) {
  .employement-company-address {
    margin-top: 1rem; } }

.employement-company-address a {
  font-size: 1.2rem;
  text-decoration: none; }
  @media (min-width: 576px) {
    .employement-company-address a {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .employement-company-address a {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .employement-company-address a {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .employement-company-address a {
      font-size: 1.2vw; } }

.employement-text {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.5rem; }
  @media (max-width: 576px) {
    .employement-text {
      margin-top: 1rem; } }
  @media (min-width: 576px) {
    .employement-text {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .employement-text {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .employement-text {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .employement-text {
      font-size: 1.2vw; } }

.employement-grade {
  font-size: 1.2rem;
  margin-top: 1rem; }
  @media (min-width: 576px) {
    .employement-grade {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    .employement-grade {
      font-size: 1.2rem; } }
  @media (min-width: 992px) {
    .employement-grade {
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .employement-grade {
      font-size: 1.2vw; } }
  .employement-grade .grade-value {
    font-weight: bold;
    font-size: 1.2em; }

.social-icon {
  font-size: 3rem; }
  .social-icon-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly; }

.icon-linkedin:hover i {
  color: #0077B5; }

.icon-github:hover i {
  color: var(--background-2);
  background: var(--foreground-1);
  border-radius: 50% 50%;
  line-height: 0.8; }

.icon-facebook:hover i {
  color: #4267B2; }

.icon-instagram:hover i {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 14px;
  line-height: 0.8; }

#theme-settings {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 10vh;
  background: var(--background-2);
  padding: 10px 10px 10px 10px;
  border-right: none;
  border-radius: 3px 0 0 3px; }

#theme-switch {
  border: none;
  background: none;
  font-size: 1.5rem; }

#section-main {
  position: relative; }

#introduction {
  position: relative;
  z-index: 9; }
  #introduction #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
  #introduction .text-container {
    position: relative; }
  #introduction label {
    font-size: 3rem; }
    @media (min-width: 576px) {
      #introduction label {
        font-size: 2rem; } }
    @media (min-width: 768px) {
      #introduction label {
        font-size: 2.5rem; } }
    @media (min-width: 992px) {
      #introduction label {
        font-size: 3rem; } }
    @media (min-width: 1200px) {
      #introduction label {
        font-size: 3vw; } }
  #introduction #intro-text {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif; }
    @media (min-width: 576px) {
      #introduction #intro-text {
        font-size: 4rem; } }
    @media (min-width: 768px) {
      #introduction #intro-text {
        font-size: 5rem; } }
    @media (min-width: 992px) {
      #introduction #intro-text {
        font-size: 6rem; } }
    @media (min-width: 1200px) {
      #introduction #intro-text {
        font-size: 8vw; } }
  #introduction #mantra-container {
    margin-top: 20px; }
    #introduction #mantra-container #mantra {
      font-size: 1.5rem; }
      @media (min-width: 576px) {
        #introduction #mantra-container #mantra {
          font-size: 2rem; } }
      @media (min-width: 768px) {
        #introduction #mantra-container #mantra {
          font-size: 1.5rem; } }
      @media (min-width: 992px) {
        #introduction #mantra-container #mantra {
          font-size: 2rem; } }
      @media (min-width: 1200px) {
        #introduction #mantra-container #mantra {
          font-size: 2vw; } }
    @media (max-width: 768px) {
      #introduction #mantra-container {
        text-align: left; } }

.info-container .text-container {
  width: 95vw; }
  @media (min-width: 576px) {
    .info-container .text-container {
      width: 90vw; } }
  @media (min-width: 768px) {
    .info-container .text-container {
      width: 85vw; } }
  @media (min-width: 992px) {
    .info-container .text-container {
      width: 80vw; } }
  @media (min-width: 1200px) {
    .info-container .text-container {
      width: 75vw; } }

.info-container label {
  font-size: 2rem;
  display: block; }
  @media (min-width: 576px) {
    .info-container label {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .info-container label {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    .info-container label {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .info-container label {
      font-size: 2vw; } }

.info-container #self-analysis-text {
  font-size: 1.2rem;
  line-height: 2rem; }
  @media (min-width: 576px) {
    .info-container #self-analysis-text {
      font-size: 2rem;
      line-height: 2.2rem; } }
  @media (min-width: 768px) {
    .info-container #self-analysis-text {
      font-size: 1.5rem;
      line-height: 2.4rem; } }
  @media (min-width: 992px) {
    .info-container #self-analysis-text {
      font-size: 2rem;
      line-height: 2.8rem; } }
  @media (min-width: 1200px) {
    .info-container #self-analysis-text {
      font-size: 2vw;
      line-height: 3rem; } }

a.contact-info {
  text-decoration: none;
  line-height: 2rem; }
  @media (min-width: 576px) {
    a.contact-info {
      font-size: 1.5rem;
      line-height: 2.2rem; } }
  @media (min-width: 768px) {
    a.contact-info {
      font-size: 1.5rem;
      line-height: 2.4rem; } }
  @media (min-width: 992px) {
    a.contact-info {
      font-size: 1.8rem;
      line-height: 2.8rem; } }
  @media (min-width: 1200px) {
    a.contact-info {
      font-size: 2vw;
      line-height: 4rem; } }
