@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Swetank 1';
    src: url('../fonts/custom/swetank_rough_001.ttf');
}