* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    max-width: 100vw;
}

#algo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    text-align: center;
}

#operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#operation > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    text-align: center;
}

#operation button {
    margin: 0 10px;
    padding: 5px 20px;
    /* min-width: 100px; */
    cursor: pointer;
}

#custom-input {
    width: 400px;
    border-radius: 4px;
    resize: none;
    padding: 8px;
}

#visual-algo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    max-width: calc(100vw - 10vw);
}

#visual-algo {
    position: relative;
    display: flex;
    height: calc(100vh - 50vh);
    flex-direction: row;
    align-items: end;
    justify-content: center;
    max-width: calc(100% - 20vw);
    width: calc(100% - 15vw);
}

#visual-algo::before {
    position: absolute;
    content: "";
    display: block;
    clear: both;
    height: 1px;
    bottom: -2px;
    background-color: #ededed;
    max-width: 110%;
    width: 110%;
    filter: drop-shadow(0px 2px 2px #000)
}

/* #visual-algo::after {
    position: absolute;
    content: "";
    display: block;
    clear: both;
    height: 1px;
    background-color: #000;
    width: 30%;
    transform: rotate(90deg);
    left: 205px;
    bottom: 37%;
} */

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin-top: 30px;
}

#speedometer {
    font-size: 1rem;
}

.sidebar li a.active {
    background-color: #ededed;
}

.sidebar li a.active:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.shape {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    transition: 1s ease;
}

.shape-inner {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100vw / 45);
    padding: 7px 3px;
    color: #fff;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    border-radius: 0 0 4px 4px;
    font-weight: bold;
    animation: 0.3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    font-size: 0.5rem;
}

.shape-arrow {
    position: absolute;
    bottom: -30px;
    color: #000;
    visibility: hidden;
}

.shape:hover {
    cursor: pointer;
}

.sidebar .li-group li a, .sidebar .li-group li button#incr-speed {
    border-radius: 6px 6px 0px 0px;
}

.sidebar .li-group li a, .sidebar .li-group li button#decr-speed {
    border-radius: 0px 0px 6px 6px;
}

.output-container {
    display: inline-block;
    min-width: 60px;
}

.display-flex {
    display: flex;
}

.display-flex.justify-center {
    justify-content: center;
}

.display-flex.justify-space-between {
    justify-content: space-between;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ds-algo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.algo-card {
    position: relative;
    min-width: 250px;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}

.algo-card .top-bar {
    width: 50%;
    height: 4px;
    background: #507bfc;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.algo-card .top {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100%;
}

.algo-card  .btn{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.algo-card  .btn a i{
    margin-right: 9px;
}
.algo-card  .btn a{
    border-radius: 20px;
    color: #8b8b8b;
    padding: 8px 20px;
    font-size: 0.9rem;
}
.algo-card  .btn a:hover{
    color: #fff;
    box-shadow: 2px 5px 15px rgba(80,123,252,0.05);
    background-color: #507bfc;
    transition: all ease 0.5s;
}

.algo-card .content img{
    width: 100%;
    height: 100%;
    border-radius:4px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.algo-card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.algo-card .content strong{
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}
.algo-card .content p{
    font-size: 0.9rem;
    color: #7a7a7a;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

span.li-group {
    display: block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ededed;
    border-radius: 6px;
}

span.li-group li {
    margin-top: -2px;
}

span.li-group li:first-child .icon {
    border-radius: 50% 50% 0 0;
    margin-left: -2px;
}

span.li-group li:nth-child(2) .icon {
    border-radius: 8px;
    margin-left: -2px;
}

span.li-group li:last-child .icon {
    border-radius: 0 0 50% 50%;
    margin-left: -2px;
}

textarea {
    border: 1px solid #ccc;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.2;
    }
    40% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}